@model List<FacesWebMvc.Controllers.OrderViewModel>

@{
    ViewData["Title"] = "Orders list";
}

<h2>Orders management - overview</h2>
<table class="table">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>User email</th>
            <th>Image</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr class="clickable" onclick="location.href='@Url.Action("OrdDetails","OrderManagement", new { orderId = order.OrderId })'">
                <td>@order.OrderId</td>
                <td>@order.Email</td>
                <td><img src="@order.ImageString" width="50px" height="50px" /></td>
                <td>@order.Status</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript">
        var timerId;
        const connection = new signalR.HubConnectionBuilder()
            .withUrl('https://localhost:44306/orderhub')
            .configureLogging(signalR.LogLevel.Debug)
            .withAutomaticReconnect()
            .build();

        connection.on('UpdateOrders', (message, orderId) => {
            const encodeMsg = message + ":" + orderId;
            console.log(encodeMsg);
            if (orderId && orderId.length) {
                toastr.success(orderId + ' updated to status ' + message);
                refreshPage();
            }
        });

        function refreshPage() {
            clearTimeout(timerId);
            timerId = setTimeout(function () {
                window.location.reload();
            }, 3000);
        };

        connection.start().catch(err => console.error(err.toString()));
    </script>
}

