@model FacesWebMvc.Controllers.OrderViewModel

@{
    ViewData["Title"] = "Order details";
}

<h3>Order details:</h3>
<div>Order id: @Model.OrderId</div>
<div>Email: @Model.Email</div>
<div>Picture:</div>
<img src="@Model.ImageString" width="100px" height="100px" />
Order status: @Model.Status
<table class="table">
    <thead>
        <tr>
            <th>OrderDetailId</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model.OrderDetails)
        {
            <tr>
                <td>@detail.OrderDetailId</td>
                <td><img src="@detail.ImageString" width="40px" height="=40px" /></td>
            </tr>
        }
    </tbody>
</table>

